/* font-family: "Inconsolata", monospace; */
/* font-family: "Roboto", sans-serif; */
/* NORMALIZACIÓN */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
    font-family: "Inconsolata", monospace;
    list-style: none;
    text-decoration: none;
    color: white;
}

body {
    background-color: black;  /* TODO, borrar cuando tengamos el fondo final */
}

header {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 3%;
    background-color: transparent;
}

.logo {
    font-size: 30px;
    font-weight: 800;
}

.navList {
    display: flex;
}

.navList a {
    margin-left: 60px; /*es para separa los items*/
    font-size: 15px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5s ease;
}

.navList a:hover {
    border-bottom: 2px solid white;
}

#menu-icon {
    display: none;
}

#menu-icon {
    font-size: 35px;
    z-index: 101;
    cursor: pointer;
}

#menu-toggle {
    display: none; /*para que no aparezca nunca */
} 

.menu-icon-action {
    display: none;  /* para que no se le pueda hacer click*/
}

.hero{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(245.59deg, #31494e 0%, #385e70 25%, #131313 75%); /* fondo de color gradiente*/
    position: relative; /* para que sea relativo el contenedor (nos permite usar top, button, left y right) */
    display: grid; /* Para que hero se pueda dividir en columnas (dos en este caso)*/
    grid-template-columns: 1fr 1fr; /* dos columnas */
    align-items: center; /* para alinear verticalmente hero*/
    gap: 2rem; /* para que haya espacio de 2 rem entre las dos comunas*/
}

section {
    padding: 0 8%; 
}

.hero-text h5 {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 25px;
}

.hero-text h1 {
    font-family: "Roboto", sans-serif;
    font-size: 50px;
    line-height: 1;
    margin: 0 0 30px;
}

.hero-text h4 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 10px;
}

.hero-text p{
    font-size: 80%;
    margin-bottom: 40px;
    line-height: 1.9;
}

.hero-img img {
    width: 400px;
    margin: 10px 0 0 10%;
    height: auto;
    transition: all 5s linear; /* esto hace que la transicion sea linal*/
}

.hero-img img:hover {
    width: 450px;
    opacity: 0.6;
}

.hero-text a {
    display: inline-block;  /* permite que se le pueda dar ancho y alto a los elementos*/
    background-color: rgb(92, 90, 90);
    border: 1px solid transparent;
    padding: 15px 30px;
    line-height: 1.4;
    font-size: 14px;
    font-weight: 500;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all 0.5s ease;
}

.hero-text a:hover {
    background-color: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

.icons {
    position: absolute;
    top: 50vh;
    padding: 0 3%;
    transform: translateY(-50%);
}

.icons i {
    display: block;
    margin: 26px 0;
    transition: all 0.5s ease;
    font-size: 24px;
}

.icons i:hover {
    color: #4d4d4d;
    transform: translateY(-5px);
}

.scroll-down {
    position: absolute;
    bottom: 6%;
    right: 3%;
}

.scroll-down i {
    display: block;
    padding: 12px;
    font-size: 25px;
    background-color: #21383d;
    border-radius: 30px;
    transition: all 05s ease;
}

.scroll-down i:hover {
    transform: translateY(-5px);
}

@media (max-width:992px){
    section {
        padding: 0 3%;
        transition: 0.2s;
    }

    .hero-text {
        padding-top: 0;
    }

    .hero-img {
        text-align: center;
    }

    .hero-img img {
        width: 80%;
        margin: 10% 0 0 10%0;
    }

    .hero-text p {
        font-size: 70%;
    }

    .icons {
        display: none;
    }

    .scroll-down {
        display: none;
    }
} 

@media (max-width:768px){
    .menu-icon-action {
        display: block;
    }

    .menu-icon {
        display: block;
    }

    .hero-text {
        text-align: center;
        padding-top: 100px;
    }

    .hero-img img {
        margin: 0;
    }

    .hero {
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }

    .navList {
        position: absolute;
        top: 100%;
        right: -100%;
        width: 200px;
        height: 180px;
        background-color: #071e33e7;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 30px 20px;
        transition: all 0.5s ease-out;
    }

    .navList a {
        display: block;
        margin: 7px 0;
    }

    #menu-toggle:checked + label.menu-icon-action + ul{
        right: 0;
    }


}